@media only screen and (max-width: 400px) {
  #root {
    float: top;
    width: 98vw;
    height: 98vh;
  }

  #button-panel button {
    font-size: 15px;
    padding: 0px 2px 0px;
  }

  #canvas {
    border-width: 5px;
    margin-top: 0px;
    margin-bottom: 3px;
    width: inherit;
  }

  .v-flex {

  }

  .h-flex {

  }

  .panel {
    width: 100%;

  }

  .color {

  }

  .color-slider {
    border: 2px solid white;
  }

  .top {
    width: 98%;
    float: left;
    display: block
  }

  .bottom2 {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block
  }

  .bottom3 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block
  }

  .pm-input {
    width: 30px;
    font-size: 15px;
    justify: center;

  }

  .pm-select {
    margin-right: 2px;
  }

  button {
    border-width: 3px;
  }
}

body {
  background-repeat: repeat;
}

#root {
  text-shadow: 1px 1px white,
      -1px -1px white,
      1px -1px white,
      -1px 1px white;
}

#back, #forward {
  flex-shrink: 10;
}

#buttonPanel button {
  border-color: white;
}

#lin-panel {
  float: bottom;
}

.canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

.v-flex {
  display: flex;
  flex-direction: column;
  border: 1px black;
}

.h-flex {
    display: flex;
    flex-direction: row;
    border: 1px black;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
}

.full-width {
  width: 100%;
}

.panel {

}

.color {

}

.color input[range]{

}

.pm-width {
  width: 70%;
}

.wrap {
  flex-wrap: wrap;
  float: left;
}

.plus-minus {
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}

.pm-bundle {
  margin: 3px 3px 3px;
}

.pm-input {
  background: transparent;
  border-color: transparent;
  text-shadow: 1px 1px white,
      -1px -1px white,
      1px -1px white,
      -1px 1px white;
}

.pm-select {
  background: transparent;
  border-radius: 8px;
  overflow-y: scroll;
  border: 3px solid white;
}

.color-slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  border-radius: 8px;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
}

h4, h5 {
  margin: 0px 0px 0px;
}

body {
  width: 99vw;
}

button {
    border-radius: 5px;
    background: rgba(0,0,0,.5);
    border-style: solid;
    text-shadow: 1px 1px white,
        -1px -1px white,
        1px -1px white,
        -1px 1px white;
}
