#portrait {
  max-height: 80vh;
  max-width: 60vw;
}

#lists {
  position: relative;
}

h2 {
  position: relative;
  width:100%;
}

ul.skills {
  margin: 0 0 0;
  position: relative;
  width:100%;
  overflow: hidden;
}

.skills li {
  font-size: 1.5em;
  text-align: center;
}
