/* background and general containers */

body {
  background-image: url('checker.jpeg');
  background-repeat: repeat;
  background-size: 10px;
  color: rgb(180,180,180);
  text-shadow: 0 0 2px #000000;
  margin: 0 0 0;
}

p {
  font-size: 1.2em;
  text-align: left;
  padding: 0px 50px 5px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 0 0 0;
}

h2 {
  text-align: center;
  font-size: 2em;
  float: left;
}

h3 {
  padding: 0px 10px 0px;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5em;
}



.text-box {
  /* position attributes */
  position: relative;
  width: 60%;

  /* background  & position attributes */
  background-color: rgba(30,30,30, .6);

  /* border & padding attributes */
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(150,150,150);
  padding: 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center-hort {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-vert {


}

.outerInputContainer {
  width: 100%;
  display:flex;
  flex-direction: column;
}

.innerInputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/* navbar */

.nav-bar {
  float: left;
  top: 0;
  left: -25vw;
  position: fixed;
  width: calc(25vw + 40px);
  height: 100%;
  background-color: green;
  z-index: 3;
  border-right: 5px solid black;
  overflow: hidden;

  transition: left 2s;
}

.nav-bar ul {
    list-style-type: none;
    left:0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    background-color: gray;
    height: 100%;
    width: 25vw;
    float: left;
    border-right: 5px solid black;
}

.nav-bar a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 5px 0px 5px;
    text-decoration: none;
    text-shadow: 0px 0px 0px;
    border-bottom: 1px solid white;
}

.nav-bar:hover {
  left: 0%;
}

.nav-bar:hover img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.nav-bar a:hover {
  color: #FFFFFF;
  background-color: #000000;
}

#nav-tri {
  position: relative;
  float: right;
  width: 3vw;
  top: 50%;
  right: .5vw;
}

a.active {
  background-color: #009933;
}

@media screen and (max-width: 800) {
  body {
    background-image: url("shrug-face.jpg");
  }

  .nav-bar {
    width: 40vw;
    left: -30vw;
  }

  .nav-bar ul {
    width: 30vw;
  }
}
