#controlPanel {
  position: relative;
  top: 0;
  width: 100%;
  /*display: flex;
  flex-direction: column;*/
}

#canvasFrame {
  width: 60%;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: 2;
}

#plaidCanvas {
}

#canvasFrame {

}

#base {
  float: right;
  margin-top: auto;
  margin-bottom: auto;
}

#canvas-box {

  position: relative;
  display: flex;
  flex-direction: column;
}

#addLine {
  margin: 10px 10px 10px
}

.line-frame {
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: 100%;
  float: left;
}


.lineAttrContainer {
  display: flex;
  flex-direction: column;
  max-width: 20%;
}

@media screen and (max-width: 800px) {
  h4 {
    font-size: .8em;
  }

}
