
@font-face {
    font-family: 'new-quill';
    src: url('fonts/new-quill.eot');
    src: url('fonts/new-quill.eot?#iefix') format('embedded-opentype'),
         url('fonts/new-quill.woff2') format('woff2'),
         url('fonts/new-quill.woff') format('woff'),
         url('fonts/new-quill.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pirate';
    src: url('fonts/pirate2-webfont.eot');
    src: url('fonts/pirate2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pirate2-webfont.woff2') format('woff2'),
         url('fonts/pirate2-webfont.woff') format('woff'),
         url('fonts/pirate2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
@keyframes wheel-spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}
*/

@media screen and (max-width: 400px) {
  html {
    font-size: 15px;
  }
  :root {
    --nav-content-width: 40vw;
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 20px;
  }
  :root {
    --nav-content-width: 40vw;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 25px;
  }
  :root {
    --nav-content-width: 25vw;
  }
}

@media screen and (max-width: 800px) {

  #contact {
    overflow-x: hidden;
    position: fixed;
    margin-left: calc(var(--nav-content-width) + (1.3 * calc(var(--nav-bar-tab))));
    width: calc(95vw - var(--nav-bar-tab));
    bottom: 0rem;
    padding: .5rem;
  }

  #contact h2 {
    padding: 0rem;
    margin: 0rem;
  }

  #contact ul {
    display: inline-flex;
    justify-content: space-between;
  }

  #contact li {
    display: inline;
    height: 100%;
    border: auto;
    padding: auto;
    width: calc(95% / n);
  }

  #contact li:nth-child(3) {
      border-right: 0px solid black;
  }

  #bottom-buffer {
    height: 4.5rem;
  }

  #content {
    width: calc(95vw - (2.1rem));
    margin-left: calc(var(--nav-content-width) + 2.7rem);
  }

}

@media screen and (min-width: 800px) {
  html {
    font-size: 30px;
  }
  :root {
    --nav-content-width: 20vw;
  }
  #contact {
    float: right;
    position: sticky;
    margin-top: 5vh;
    top: 5vh;
    height: 90vh;
    right: 0px;
    width: 20%;
    border-left: .1rem solid black;
  }

  #contact li {
    border-bottom: .1rem solid black;
    padding-bottom: .5rem;
    padding-top: .5rem;
    width: 90%;
    margin-left: 5%;
  }

  #content {
    width: calc(100vw - (2.3rem + 25%));
    margin-left: calc(var(--nav-content-width) + calc(var(--nav-bar-tab) * 1.5));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 35px;
  }
}

@media screen and (min-width: 1200px) {
  html {
  }
}

:root {
  --banner-height: 6.5rem;
  --nav-bar-tab: 2rem;
}

* {
  box-sizing: border-box;
  border: 1px solid red;
  padding: 0px;
  margin: 0px;
}

html {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
}

body {
  margin: 0px 0px 0px 0px;
  padding: 0;
  background-color: #4da6ff;
  width: 100%;
  overflow-x: hidden;
}

p {
  margin: 0rem;
  padding: 0rem;
}

#banner {
  overflow: hidden;
  position: absolute;
  z-index: 4;
  top: 0px;
  left: 0px;
  height: var(--banner-height);
  width: 100%;
  background-image: linear-gradient(
    to bottom, rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0) 100%
    );
}

#banner h1 {
  font-family: 'new-quill', cursive, fantasy;
  color: blue;
  font-size: 2.5rem;
  text-shadow: .1rem .1rem .1rem black;
  margin-left: .2rem;
}

#first-name {
}

#last-name {
  position: relative;
  top: -1rem;
  left: 4rem;
}

#banner-buffer{
  z-index: -1;
  height: calc(var(--banner-height) * .79);
}

#frame {
  position: absolute;
  top: calc(var(--banner-height) * .8);
  right: 0px;
  width: calc(100vw + var(--nav-content-width));
}

/* navbar */

#nav-bar {
  position: sticky;
  float: left;
  top: 0;
  left: calc(var(--nav-content-width) * -1);
  width: calc(var(--nav-content-width) + var(--nav-bar-tab));
  height: 100vh;
  background-color: blue;
  z-index: 3;
  border-right: 5px solid black;
  /*overflow: hidden;*/
  -webkit-transition: left 2s;
  transition: left 2s;

}

#nav-frame {
  background-image: url('./bkgd/wood-plank.jpg');
  background-repeat: repeat;
  background-size: var(--nav-content-width) auto;
  height: 100%;
  float: left;
  width: var(--nav-content-width);
  border-right: 5px solid black;
  overflow-x: hidden;
}

#nav-bar ul {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}


#nav-bar li {
  margin-bottom: .5rem;
  padding: .2rem .1rem .2rem .1rem;
  background-color: gold;
  border-radius: .2rem;
  box-shadow: .1rem .1rem black;
}

#nav-bar li:first-child {
  margin-top: .7rem;
}

#nav-bar li a {
  display: flex;
  color: #000000;
  text-decoration: none;
  text-shadow: 0px 0px 0px;
}

#navbar li a p {
  display: inline-block;
  text-align: center;
  margin: auto;
  margin-left: .1rem;
  padding: 5px 0px 5px;
}

#nav-bar:hover {
  left: 0vw;
}

#nav-bar:hover #nav-logo {
  transition: transform 2s;
  transform: rotate(360deg);
}

#nav-bar #nav-logo {
    transition: transform 2s;
    transform: rotate(-360deg);
}

#nav-bar li:hover img{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#nav-logo {
  position: absolute;
  float: right;
  width: calc(var(--nav-bar-tab) * .5);
  top: 50vh;
  right: calc(var(--nav-bar-tab) * .25);
  animation-name: wheel-spin;
  animation-duration: 1s;
  animation-timing-function: linear;
}

#nav-bar a.active {
  background-color: #009933;
}

#nav-footer {
  position: absolute;
  width: calc(var(--nav-content-width) - .3rem);
  top: 90%;
  font-size: .5rem;
  background-color: gold;
  border-radius: .2rem;
  box-shadow: .1rem .1rem black;
}

.list-link {
  display: inline-block;
}

.bullet {
  display:inline-block;
  width: 15px;
  height: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: .3rem;
  float: left;
}

.align-container {
  text-align: center;
}

#content {
  box-sizing: border-box;
  margin-top: 1.5rem;
  padding: 1em;
  border-radius: .5rem;
  background-image: url('./bkgd/paper.jpg');
  overflow-y: : auto;
  font-family: 'pirate', cursive, fantasy, sans-serif;
  font-size: 1.5rem;
  z-index: 1;
 }

 .no-margin-top {
   margin-top: 0px;
 }

#content p {
  margin: auto;
}

#contact {
  z-index: 2;
  background-color: #4da6ff;
}


#contact h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contact ul {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  width: 100%;
  margin: auto;
}

#contact li {
  word-wrap: break-word;
  display: inline-block;


}

#portrait {
  float: left;
  width: 25vw;
  max-width: 100%;
  margin: 0rem;
  margin-right: 2rem;
  border: .1rem solid black;
}

ul.outer-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
}

.outer-list li {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
  padding: 0px;
}

ul.inner-list {
  padding: 0px;
}

.inner-list li {
    display: block;
    background-image: url('./icons/anchor.png');
    background-repeat: no-repeat;
    background-position: 0 .5rem;
    background-size: 1rem;
    padding-left: 1.2rem;
  }
