<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href={{ url_for('static', filename='main-style.css') }}>

    {% block style %} {% endblock %}

    {% block headscript %} {% endblock %}

  </head>
  <body>

    {% block bodyscript %}

    {% endblock %}

    <div class="nav-bar">
      <ul>
        <br>
        <li><a href="/">Home</a></li>
        <li><a href="/plaid">Plaid Generator</a></li>
        <li><a href="/ep_search">Episode Picker</a></li>
      </ul>
      <img src={{ url_for("static", filename="arrow-closed.png")}} id="nav-tri">
    </div>

    {% block body %}
    {% endblock %}

  </body>
