{% extends "layout.html" %}

{% block title %}
  Plaid Generator
{% endblock %}

{% block style %}
  <link rel="stylesheet" href={{ url_for('static', filename='plaid-style.css') }}>
{% endblock %}

{% block headscript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{% endblock %}

{% block body %}
      <div class="text-box center-hort">
        <h1>Plaid Pattern Generator</h1>
      </div>
      <div class="center-hort" id="canvasFrame"> </div>
      <div class="text-box center-hort">
        <div id="controlPanel">
          <div class="line-frame">
            <h3>
              Background
            </h3>
            <input type="color"  value ="#000000" id="base">
          </div>
        </div>

        <input type="button" class="center-hort" id="addLine" value= "Add new line">

      </div>
{% endblock %}

{% block bodyscript %}
    <script src={{ url_for('static', filename='plaid.js') }}></script>
{% endblock %}
