{% extends "layout.html" %}

{% block title %}
  show: {{ details['title'] }}
{% endblock %}

{% block body %}
  <div class="text-box">
    <h1>
      {{ details["title"] }}
    </h1>
    <img src= {{ details['image'] }} class="center" alt="Image for " +
    {{ details['title'] }}">
    <br>
  </div>
  <form method='post' action="/result">
    <div class="text-box">
      <div class="outerInputContainer">
        <div class="innerInputContainer">
          <div id="seasonSelector">
            Seasons: <br>
            {% for season in range(1, details["seasons"] + 1) %}
              <label for="checkbox" class="season">
                <input type="checkbox" name="seasons" value={{ season }} checked> {{ season }}
              </label>
            {% endfor %}
          </div>
          <div id="ratingFactor">
            Rating Factor: <br>
            <input type ="range" name="rating_factor" min=0 max=100 value=0>
          </div>
        </div>
      </div>
      <input id="paramSubmit" type="submit" value="Pick Episode!">
      <br>
    </div>
  </form>
{% endblock %}
