{% extends "layout.html" %}

{% block title %}
  show: {{ details['title'] }}
{% endblock %}

{% block style %}
  <link rel="stylesheet" href={{ url_for('static', filename='episode-style.css') }}>
{% endblock %}


{% block headscript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock %}

{% block body %}
  <div class="text-box center-hort" id="show-frame">
    <h1 id="show-title">
      {{ details["title"] }}
    </h1>
    <img id="show-image" src= {{ details['image'] }} class="center-hort" alt="Image for " +
    {{ details['title'] }}">

  </div>
  <form method='post' action="/result">
    <div class="text-box center-hort" id="params">
      <div class="outerInputContainer">
        <div class="innerInputContainer">
          <div id="seasonSelector">
            Seasons: <br>
            {% for season in range(1, details["seasons"] + 1) %}
              <label for="checkbox" class="season">
                <input type="checkbox" name="seasons" value={{ season }} checked> {{ season }}
              </label>
            {% endfor %}
          </div>
          <div id="ratingFactor">
            <input type="checkbox" id="rating-check"> <span id="rating-text">
              Rating factor?
              </span>
            <div id="rating-slide">
              Rating Factor: <br>
              <input type="range" id="slider" name="slider" min=1 max=3 step=.1 value=0>
            </div>
          </div>
        </div>
      </div>
      <input id="paramSubmit" type="submit" value="Pick Episode!">
      <br>
    </div>
  </form>
{% endblock %}

{% block bodyscript %}
  <script>
    $(document).ready(function() {
      $('#rating-slide').hide();
      $('#rating-check').checked = false;
      $('#rating-check').change(function() {
        if (this.checked) {
          $('#rating-slide').show();
          $('#rating-text').hide();
          $('#slider').attr('value', '1');
        }
        else {
          $('#rating-slide').hide();
          $('#rating-text').show();
          $('#slider').attr('value', '0');
        }
      });
    });
  </script>
{% endblock %}
